body{
    margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  /* gap: 1px; */
}

.item:nth-child(1) {
  grid-column: 1/9;
}

.item:nth-child(2) {
  grid-column: 9/14;
  background-color: white;
  text-align: left;
  padding: 0px 50px;
  position: relative;
  
}
.navbar{ color: white;
    position: absolute;
    top: 35px;
    left: 80px;
    display: flex;
    align-items: center;

}

.item:nth-child(3) {
  grid-column: 1/5;
  grid-row: 2/3;
}

.item:nth-child(4) {
  grid-column: 5/10;
  grid-row: 2/3;
padding: 50px;
  
}
.item:nth-child(5) {
  grid-column: 10/14;
  grid-row: 2/3;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
ul{
    display: flex;
    gap: 15px;
}
li{ 
    list-style: none;
    
}
a{
    color: white;
    text-decoration: none;
}
h3{
    font-size: x-large;
    
}
p{
    color: rgb(206, 205, 205);
}
button{
    width: 53px;
    height: 40px;
    background-color: rgb(8, 8, 8);
    
}

.buttons{
  position: absolute;
  display: flex;
  bottom:0;
  left: 0;
}
/* .button-1{
position: relative;
top: 492px;
left: -50px;
}
.button-2{position: relative;
    top: 451px;
    left: 1px;

} */
.arrow{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  button:hover{
    background-color: rgb(118, 119, 121);
  }
  /* img{
    width: 100%;
    height: 100%;
  } */

/* @media screen and(min-width: 30%) and(max-width: 70%) { 
       body{
        background-color: brown;
       }
} */
@media screen and (max-width: 600px) {
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  *{
     /* padding: 0;
    margin: 0; */
    overflow-x:hidden;
  }
  .item{
    /* height: 400px; */
    width: 370px;
  }
  .item:nth-child(2) {
    font-size: 8px ;
    overflow-y: hidden;
    font-weight: 100px ;
    
  } 
  .nav2{
    position: relative;
    top: -25px;
    left: -35px;
  }
  .buttons{
    position: relative;
    bottom: 20px;
    left: 210px;
    

  }
  ul{
    display: none;
  }
  
  .navbar {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
  /* img{
    width: 100%;
    height: 100%;
  } */
}